@{
    ViewBag.Title = "View_Generated_Waves";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Waves</h2>

<style type="text/css">
    /* Adjust feedback icon position */
    #productForm .selectContainer .form-control-feedback,
    #productForm .inputGroupContainer .form-control-feedback {
        right: -15px;
    }
</style>

<form id="generatedwavesForm" action="/Home/GeneratedWaves" method="POST" class="form-horizontal">
    <br /><br />
    <div class="form-group">
        <label class="col-xs-3 control-label">Tipo de Documento</label>
        <div class="col-xs-5 selectContainer" style="width: 65%">
            <input type="text" class="form-control" name="tipoDoc" id="tipoDocDisable" disabled value="ECL" />
        </div>
        <input name="tipoDoc" id="tipoDoc" hidden value="ECL" />
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Serie</label>
        <div class="col-xs-5 selectContainer" style="width: 65%">
            <select class="form-control" name="serie" id="serie">
                @foreach (var artigo in ViewBag.test)
                {
                    <option value="@artigo">@artigo</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button type="submit" class="btn btn-default">View</button>
        </div>
    </div>
</form>
